:root {
  --main_color_d1: #003c43;
  --main_color_d2: #135d66;
  --main_color_d3: #77b0aa;
  --main_color_d4: #e3fef7;
  --link_color: #ff6347;
  --box-shadow-value: 10px 5px 20px 10px rgba(227, 254, 247, 0.3);
  --swiper-pagination-h-value: var(--main_color_d4);
  --swiper-pagination-s-value: var(--main_color_d3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* اطمینان از محاسبه صحیح اندازه‌ها */
}

html,
body {
  background-color: var(--main_color_d1);
  position: relative;
  height: 100%;
  overflow-x: hidden;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.product {
  margin: 1px 1px;
  width: 100vw;
  margin: 20px 0;
  height: 500px; /* تنظیم ارتفاع داخلی */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.product-txet {
  border: var(--main_color_d2) solid 1px;
  background-color: var(--main_color_d1);
  color: var(--main_color_d4);
  border-radius: 1px;
  width: 24vw;
  height: 100%; /* تنظیم ارتفاع برای پر کردن والد */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.product-txet .header_text,
.product-txet .dis_text,
.product-txet .dis_text_a {
  max-width: 100%; /* اطمینان از پر نکردن بیش از حد عرض */
  overflow: hidden;
}

.product-txet .header_text {
  padding: 10px 0 0 0;
  font-size: 26px;
  max-width: 240px;
  line-height: 1.5;
  text-align: center;
  font-weight: 400;
  z-index: 1;
}

.product-txet .dis_text {
  margin-top: 10px;
  font-size: 20px;
  max-width: 240px;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
  z-index: 1;
}

.product-txet .dis_text_a {
  padding: 12px 0 0 0;
  font-size: 16px;
  max-width: 90%;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
  text-align: justify;
  z-index: 1;
}

.product-swiper {
  border: var(--main_color_d2) solid 1px;
  background-color: var(--main_color_d1);
  color: var(--main_color_d4);
  justify-self: flex-end;
  border-radius: 1px;
  height: 100%; /* تنظیم ارتفاع برای پر کردن والد */
  overflow: hidden;
  z-index: 1;
}



.animat_pro_new body {
  background: var(--main_color_d1);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  height: 550px !important;
}


.animat_pro_new .swiper-container_new {
  max-width: 75vw;
  overflow: hidden;
  height: 500px;
  justify-content: end;
}

.animat_pro_new .swiper-wrapper {
  display: flex;
  flex-direction: row;
  top: 35px;
}

.animat_pro_new .swiper-slide {
  background-position: top;
  background-size: cover;
  width: 280px;
  margin: 0;
  height: 420px;
  box-shadow: var(--box-shadow-value);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* تغییر از center به flex-start */
}

.animat_pro_new .swiper-slide img {
  top: 0 !important;
  display: block;
  width: 100%; /* تنظیم عرض تصاویر به 100% */
  height: 250px; /* تنظیم ارتفاع تصاویر به 80% */
  object-fit: cover; /* استفاده از object-fit */
  object-position: top; /* اطمینان از چسبیدن تصاویر به بالاترین قسمت */
}

.animat_pro_new .slide-content {
  text-align: center;
  padding: 10px;
}

.animat_pro_new .slide-content h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.animat_pro_new .slide-content h4 .span_header_t,
.animat_pro_new .slide-content h4 .span_type {
  font-weight: bold;
}

.animat_pro_new .slide-content a {
  color: var(--link_color);
  text-decoration: none;
  transition: color 0.3s;
}

.animat_pro_new .slide-content a:hover {
  color: var(--main_color_d2);
}

.animat_pro_new p {
  font-size: 14px;
  max-width: 240px;
  line-height: 1.5;
  text-align: justify;
  font-weight: 400;
}

.animat_pro_new .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: var(--swiper-pagination-s-value);
  opacity: 0.8;
  border-radius: 0;
}

.animat_pro_new .swiper-pagination-bullet-active {
  background-color: var(--swiper-pagination-h-value);
}

.animat_pro_new .swiper-pagination {
  position: absolute;
  bottom: 10px;
  text-align: center;
  z-index: 10;
}

.animat_pro_new .swiper-button-next,
.animat_pro_new .swiper-button-prev {
  --swiper-navigation-size: 30px;
  color: var(--main_color_d3);
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .product-txet .header_text {
    padding: 6px 0 0 0;
    font-size: 22px;
    line-height: 1.2;
    text-align: center;
    font-weight: 400;
    z-index: 1;
  }

  .product-txet .dis_text {
    height: auto;
    font-size: 18px;
    max-width: 92%;
    line-height: 1.2;
    font-weight: 300;
    padding: 5px 0;
    margin: 0;
  }

  .product-txet .dis_text_a {
    height: auto;
    max-width: 88%;
    padding: 5px 0;
    margin: 0;
    line-height: 1;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-align: justify;
  }
}

@media (max-width: 768px) {
 

  .product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    margin: 20px 0;
    flex-wrap: wrap;
    position: relative; /* تنظیم موقعیت نسبی */
  }

  .product-txet {
top:20;
  }
  
  .product-txet, .product-swiper {
    flex: 1 1 100%;
    width: 95vw;
    height: auto;
    /* padding: 10px; */
    box-sizing: border-box;
    position: relative; /* تنظیم موقعیت نسبی */
  }
  
.animat_pro_new .swiper-slide {

  margin:0 0  20px 0;
 
}

  

  .animat_pro_new .swiper-container_new {
    max-width: 100%;
    overflow: hidden;
    justify-content: center;
  }

  .product-txet .header_text {
    padding: 6px 0 0 0;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    font-weight: 300;
    z-index: 1;
  }

  .product-txet .dis_text_a {
    top: 0 !important; /* تنظیم نقطه شروع به صفر */
    position: relative; /* اطمینان از موقعیت نسبی */
    width: 100% !important;
    max-width: 100% !important;
    padding: 12px 0 0 0;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    text-align: center;
    text-align: justify;
    z-index: 1;
  }
}
