:root {
  --main_color_d1: #003c43;
  --main_color_d2: #135d66;
  --main_color_d3: #77b0aa;
  --main_color_d4: #e3fef7;
  --box-shadow-value: 0px 0px 5px 16px rgba(187, 186, 186, 0.1);
}

@font-face {
  font-family: Vazir;
  src: url('Vazir-Regular.eot');
  src: url('Vazir-Regular.eot?#iefix') format('embedded-opentype'),
       url('Vazir-Regular-FD.woff2') format('woff2'),
       url('Vazir-Regular-FD.woff') format('woff'),
       url('Vazir-Thin-FD.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--main_color_d1);
  font-family:Vazir, Arial, sans-serif;
  color: var(--main_color_d4);
  margin: 0;
  direction: rtl;
}

#product-details {
  margin: 20px 0;
}

h1 {
  color: var(--main_color_d4);
  font-size: 24px;
  margin: 10px 20px 0 0;
  text-align: start;
}

.product-container {
  display: flex;
  flex-direction: row;
  direction: ltr;
  width: 95vw;
  margin: 0 auto;
  height: 450px;
  background: var(--main_color_d1);
  /* padding: 20px; */
  border-radius: 1px;
  box-shadow: var(--box-shadow-value);
}

.product-img {
  flex: 1;
  text-align: center;
}

.product-img img {
  width: 40vw;
  height: 100%;
  border-radius: 5px;

}

.product-info {
  direction: rtl;
  width: 55vw;
  text-align: right;
  padding:20px 20px 20px 30px;
}

.product-header {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  color: var(--main_color_d4);

}

.product-header span {
  font-size: 22px;
}

.product-type,
.product-description,
.product-full-description {
  font-size: 16px;
  text-align: justify;
  line-height: 1.5;
  color: var(--main_color_d4);
}

.product-type span,
.product-description span,
.product-full-description span {
  font-weight: 600;
  font-size: 18px;
}

/* حالت واکنش‌گرا برای تبلت */
@media (max-width: 768px) {
  .product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: auto;
    padding: 20px 10px;
  }

  .product-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-img img {
    width: 100%;
    max-width: 300px;
    height: auto;
    padding: 10px;
  }

  .product-info {
    width: 100%;
    padding: 10px;
    text-align: right;
  }

  .product-header,
  .product-type,
  .product-description,
  .product-full-description {
    padding: 0 10px;
  }
}

/* حالت واکنش‌گرا برای موبایل */
@media (max-width: 480px) {
  .product-info {
    width: 100%;
    padding: 10px;
    margin: 0;
    text-align: right;
  }

  .product-img img {
    width: 100%;
    height: auto;
  }
}