:root {
  --main_color_d1: #003c43;
  --main_color_d2: #135d66;
  --main_color_d3: #77b0aa;
  --main_color_d4: #e3fef7;
  --link_color: #ff6347;
  --box-shadow-value: 0px 0px 5px 5px rgba(187, 186, 186, 0.2);
}

.social-capsule-container {
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  width: 100%;

  padding: 0 0; /* فاصله بالای صفحه */
}

.social-capsule {
  width: 220px;
  position: relative;
  top: 20px;
  margin: 0 auto; /* وسط‌چین کردن باکس */
  background-color: var(--main_color_d4);
  border-radius: 25px;
  padding: 10px 20px;
  box-shadow: var(--box-shadow-value);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
}
.social-capsule a {
  height: 30px;
}

.social-icon {
  margin: 0;
}

.social-icon img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s;
}

.social-icon:hover img {
  transform: scale(1.2); /* انیمیشن بزرگنمایی در هنگام هاور */
}

.footer {
  background-color: var(--main_color_d2);
  text-align: center;
  width: 100%;
  margin: 0 0; /* برای مرکزیت قرار دادن فوتر */
  padding: 0; /* تنظیم فاصله داخلی فوتر */
}

.footer .row_footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.footer .col {
  flex: 1;
  width: 33.33vw;
  display: flex;
  flex-direction: column ;
  justify-content: center ;
  align-items: center;
  color: var(--main_color_d4);
  text-align: justify;
  margin: 0 auto;
}

.footer .footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer h3 {
  margin: 50px 0 0 0;
  font-size: 24px;
}

.footer p {
  width: 300px;
  margin: 0 20px;
  line-height: 2;
}
#call p {
  text-align: center;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0 0 10px 0;
  justify-content: center;
  align-items: center;
}

.footer a {
  color: var(--link_color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: var(--main_color_d1);
}

.footer-content {
  position: relative;
  width: 100%;
}

.copyright-text{ 
  width: 100% ;
  background-color: var(--main_color_d1);
  color: var(--main_color_d4);
  display: flex;
  justify-content: center;
  align-items: center;


  margin: 0 !important;

}

/* استایل برای دسکتاپ */
@media (min-width: 1200px) {
  .footer .col {
    width: 33.33%; /* هر ستون یک سوم عرض را اشغال می‌کند */
  }
}

/* استایل برای تبلت */
@media (min-width: 768px) and (max-width: 1199px) {
  .footer .col {
    width: 50%; /* هر ستون نیمی از عرض را اشغال می‌کند */
  }
}

/* استایل برای موبایل */
@media (max-width: 767px) {
  .footer .row_footer {
    flex-direction: column;
  }
  .footer .col {
    width: 100%;
  }
  .footer h3 {
    margin-top: 40px;
  }
  .social-capsule {
    width: 250px;
    margin: 0 auto; /* وسط‌چین کردن باکس در موبایل */
  }
}
