/* Footer.css */

.footer {
  background-color: #66b4e0;
  text-align: center;
  width: 100%;
  margin: 0 auto; /* برای مرکزیت قرار دادن فوتر */
  padding: 20px 0; /* تنظیم فاصله داخلی فوتر */
}


.footer .row {
  display: flex;
  justify-content: space-between;
  align-items:center;
  /* max-width: 33%; */
}

.footer .col {
  flex: 1;
  /* سایر استایل‌های ستون‌ها */
}

#call {
  border-right: 3px solid black;
}

.footer h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.footer p {
  
  margin-bottom: 10px;
  /* max-width: 420px; */
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer a {
  color: #041d1d;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #ffffff;
}

.footer .copyright {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* استایل برای دسکتاپ */
@media (min-width: 1200px) {
  /* استایل‌های مخصوص دسکتاپ */
  .footer .col {
    width: 33.33%vh; /* هر ستون یک سوم عرض را اشغال می‌کند */
  }
}

/* استایل برای تبلت */
@media (min-width: 768px) and (max-width: 1199px) {
  /* استایل‌های مخصوص تبلت */
  .footer .col {
    width: 50%vh; /* هر ستون نیمی از عرض را اشغال می‌کند */
  }
}

/* استایل برای موبایل */
@media (max-width: 767px) {
  /* استایل‌های مخصوص موبایل */
  .footer .row {
    flex-direction: column;
  }
  .footer .col {
    width: 100%;
  }
}
