:root {
  --main_color_d1: #003C43;
  --main_color_d2: #135D66;
  --main_color_d3: #77B0AA;
  --main_color_d4: #E3FEF7;
  --box-shadow-value:  10px 5px 20px 10px rgba(227, 254, 247, 0.3);
  --swiper-pagination-h-value:var(--main_color_d4) ;
  --swiper-pagination-s-value: var(--main_color_d3) ;
}

html,
.anim_swiper .body {
  position: relative;
  height: 50%;
}

.anim_swiper .body {
  background: var(--main_color_d4);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: var(--main_color_d1);
  margin: 0;
  padding: 0;
  direction: rtl;
}

.anim_swiper .swiper {
  width: 100%;
  height: 100%;
  background: var(--main_color_d1);
}

.anim_swiper .swiper-slide {
  font-size: 14px;
  color: var(--main_color_d4);
  align-items: flex-start;
  justify-content: flex-start;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 
}

.anim_swiper .parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 140%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.anim_swiper .swiper-slide .title {
  padding: 30px 50px 0 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
}

.anim_swiper .swiper-slide .subtitle {
  padding: 10px 50px 0 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
}

.anim_swiper .swiper-slide .p_text {
  padding: 10px 50px 0 0;

  /* text-align: justify;
  padding-top: 60px;
  margin-top: 0; */
}
.anim_swiper .swiper-pagination {
  width: 100% !important;
  position: absolute;
  padding-bottom: 7px;
 /* text-align: center; */
  z-index: 10;
}


/* CSS برای پگینیشن مربع و قرار دادن آن در پایین‌ترین قسمت اسوایپر */
.anim_swiper .swiper-pagination-bullet {
  width: 20px;
  height: 10px;
  background-color: var(--swiper-pagination-s-value);
  opacity: 0.8;
  border-radius: 20px; /* حذف حالت دایره‌ای برای مربع شدن */
  margin: 10px auto; /* فاصله بیشتر بین پگینیشن‌ها */
  justify-self: center;
}

.anim_swiper .swiper-pagination-bullet-active {
  background-color: var(--swiper-pagination-h-value);
}

.anim_swiper .swiper-button-next,
.anim_swiper  .swiper-button-prev {
  --swiper-navigation-size: 30px;
  color: var(--main_color_d3);
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}



/* مدیا کوئری‌ها برای حالت‌های مختلف */
/* حالت دسکتاپ */
@media (min-width: 1025px) {
  .anim_swiper .swiper-slide .title {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
  }

  .anim_swiper .swiper-slide .subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
  }

  .anim_swiper .swiper-slide .p_text {
    font-size: 14px;
    max-width: 40vw;
    line-height: 1.5;
    font-weight: 400;
    text-align: justify;
    padding-top: 6px;
    margin-top: 0;
  }
}

/* حالت تبلت */
@media (min-width: 769px) and (max-width: 1024px) {
  .anim_swiper .swiper-slide .title {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
  }

  .anim_swiper .swiper-slide .subtitle {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
  }

  .anim_swiper .swiper-slide .p_text {
    font-size: 15px;
    max-width: 40vw;
    line-height: 1.5;
    font-weight: 400;
    text-align: justify;
    padding-top: 6px;
    margin-top: 0;
  }
}

/* حالت موبایل */
@media (max-width: 768px) {
  .anim_swiper .swiper-slide .title {
    font-size: 20px;
    padding: 10px 30px 0 0;  
    font-weight: 300;
    line-height: 1.5;
  }

  .anim_swiper .swiper-slide .subtitle {
    font-size: 17px;
    padding: 8px 30px 0 0;  
    font-weight: 500;
    line-height: 1.5;
  }

  .anim_swiper .swiper-slide .p_text {
    font-size: 14px;
    padding: 10px 30px 0 180px;  
    line-height: 1.5;
    font-weight: 500;
    text-align: justify;
    margin-top: 0;
  }
  .anim_swiper .swiper-button-next,
  .anim_swiper  .swiper-button-prev {
    --swiper-navigation-size: 20px;
    color: var(--main_color_d3);
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }





}
